.purchasecard_alt
  img(src='/public/images/purchasecard/background.png').purchasecard_alt_img
  .purchasecard__logo= logo
  p.purchasecard__title= title
  p.purchasecard__text= text
  p.purchasecard__price= price
  .purchasecard__button-container    
    a.purchasecard__button_black.purchasecard__button_full-width(href=button_link target='_blank')= button_text   

